.MainPrevM{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(-45deg, rgb(9, 32, 108),rgb(55, 14, 75),rgb(72, 7, 146),rgb(112, 5, 103),rgb(30, 102, 148));
    background-size: 400% 400%;
    animation: animate 15s ease infinite;

}

.MainPrevM li{
    margin-top: 30px;
    border: 1px solid darkmagenta;
}